/* All screen sizes */
.app {
  height: 100vh;
  background-color: #fafbfd;
}

.watermark {
  user-select: none;
}

.menu-container {
  overflow-y: auto;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  position: relative;
  z-index: 800;
}
.menu {
  display: flex;
}

.menu a,
.menu a:visited {
  display: block;
  margin-bottom: 0.5em;
}

.menu-link.active {
  text-decoration: underline;
}

.main-container {
  height: 100%;
  overflow-y: auto;
}
.main {
  height: 100%;
  padding: 1em 0;
}

.footer {
  text-align: center;
  padding: 4em 0 1em 0;
}

.patreon-button:hover {
  opacity: 0.8;
}

/* Mobile */
@media (max-width: 800px) {
}

/* Desktop */
@media (min-width: 801px) {
  .main.embedded {
    padding: 0;
  }

  .menu {
    flex-wrap: wrap;
  }

  .menu-category {
    margin: 0 0.5em;
  }
}