/* All screen sizes */
.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer-on-hover:hover {
  cursor: pointer;
}

body {
  background-color: #EEEEEE;
}

.app {
  height: 100vh;
}

.left-pane {
  padding: 1em;
}

hr {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  border-left: none;
}

a,
a:visited {
  display: block;
  color: #0645ad;
  text-decoration: none;
  display: block;
}

.top-nav a {
  padding-right: 1.5em;
}
.top-nav a,
.left-nav a:visited {
  color: white;
  text-decoration: none;
}

.left-nav a,
.left-nav a:visited {
  display: block;
  color: #0645ad;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5em;
}

.nav-link.active {
  text-decoration: underline;
}

/* Mobile */
@media (max-width: 640px) {
  .hide-on-mobile {
    display: none;
  }
  
  .left-pane {
    margin-bottom: 1em;
  }

  .top-nav {
    min-height: 64px !important;
  }
}

/* Desktop */
@media (min-width: 641px) {
  .hide-on-desktop {
    display: none !important;
  }
  
  .horizontal-panes {
    display: flex;
  }
  
  .app {
    display: flex;
    flex-direction: column;
  }

  .top-pane {
    flex-basis: 64px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .bottom-pane {
    flex-grow: 1;
    min-height: 0;
  }
  
  .left-pane {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: auto;
  }
  
  .right-pane {
    padding: 1em;
    overflow-y: auto;
    flex-grow: 1;
  }
}