/* All screen sizes */
.cursor-pointer {
  cursor: pointer;
}

body {
  background-color: #EEEEEE;
}

.app {
  height: 100vh;
}

.left-pane {
  padding: 1em;
}

hr {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  border-left: none;
}

a,
a:visited {
  color: #0645ad;
  text-decoration: none;
}

ul li {
  padding-bottom: 0.25em;
}

sup {
  font-size: 75%;
}

.nav-bar {
  flex-basis: 42px;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
  background-color: #3f51b5;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  padding: 0 1em;
  z-index: 2200;
}
.nav-bar > * {
  display: inline-block;
  padding: 0 0.5rem;
  height: 100%;
  vertical-align: top;
  line-height: 42px;
}
.nav-bar > *:hover,
.nav-bar > *:active {
  background-color: #2B3DA1;
}

.top-nav a {
  padding-right: 1.5em;
}
.nav-bar a,
.top-nav a,
.left-nav a:visited {
  color: white;
  text-decoration: none;
}

.left-nav a,
.left-nav a:visited {
  display: block;
  color: #0645ad;
  text-decoration: none;
  display: block;
  margin-bottom: 0.75em;
}

.nav-link.active {
  text-decoration: underline;
}

.watermark {
  user-select: none;
}

.pass-through-click {
  pointer-events: none;
}

/* Animations */
.background-green-to-initial {
  animation: background-green-to-initial;
  animation-duration: 3s;
}
@keyframes background-green-to-initial {
  from {
    background-color: #669942;
  }

  to {
    background-color: #d5d5d5;
  }
}

/* Mobile */
@media (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }
  
  .left-pane {
    margin-bottom: 1em;
  }

  .top-nav {
    min-height: 48px !important;
  }
}

/* Desktop */
@media (min-width: 801px) {
  .hide-on-desktop {
    display: none !important;
  }
  
  .horizontal-panes {
    display: flex;
  }
  
  .app {
    display: flex;
    flex-direction: column;
  }

  .top-pane {
    flex-basis: 64px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .bottom-pane {
    flex-grow: 1;
    min-height: 0;
  }
  
  .left-pane {
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: auto;
  }
  
  .right-pane {
    padding: 1em;
    overflow-y: auto;
    flex-grow: 1;
  }
  .right-pane.embedded {
    padding: 0;
  }
}