body {
  background-color: #EEEEEE;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-pane {
  flex-basis: 64px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: gray;
}

.bottom-pane {
  flex-grow: 1;
  min-height: 0;
}

.horizontal-panes {
  display: flex;
}
.left-pane {
  padding: 1em;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-y: auto;
}

.right-pane {
  padding: 1em;
  overflow-y: auto;
  flex-grow: 1;
}

.left-nav a,
.left-nav a:visited {
  color: #0645ad;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5em;
}

.nav-link.active {
  text-decoration: underline;
}