body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.cursor-pointer {
  cursor: pointer;
}

hr {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  border-left: none;
}

ul li {
  padding-bottom: 0.25em;
}

sup {
  font-size: 75%;
}

.no-wrap {
  white-space: nowrap;
}

.no-select {
  user-select: none;
}
.watermark {
  user-select: none;
}

.pass-through-click {
  pointer-events: none;
}

.bottom-shadow {
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}

.row {
  width: 100%;
}

/* Mobile */
@media (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }
}

/* Desktop */
@media (min-width: 801px) {
  .hide-on-desktop {
    display: none !important;
  }

  .row {
    display: flex;
  }
  .column {
    flex-basis: 100%;
  }
}

/* Animations */
.fade-out {
  animation: fade-out;
  animation-duration: 2s;
  opacity: 0;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.background-green-to-initial {
  animation: background-green-to-initial;
  animation-duration: 3s;
}
@keyframes background-green-to-initial {
  from {
    background-color: #669942;
  }

  to {
    background-color: #d5d5d5;
  }
}